# Required
GITHUB_TOKEN=ghp_your_personal_access_token
GITHUB_REPO=owner/repo
GLITCHTIP_API_URL=http://web:8000
GLITCHTIP_API_TOKEN=your_glitchtip_api_token

# Optional
GLITCHTIP_WEBHOOK_SECRET=
WEBHOOK_PORT=3001
